﻿@model IEnumerable<AskGis.Entities.User>
<table class="table table-hover">
    <thead>
        <tr>
            <th>No</th>
            <th>Ad soyad</th>
            <th>İstifadəçi adı</th>
            <th>Rol</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int no = 1;
            foreach (var item in Model)
            {
        <tr data-id="@item.Id">
            <td>@(no++)</td>
            <td>@(item.Person.LastName + " " + item.Person.FirstName + " " + item.Person.Fathername)</td>
            <td>@item.Username</td>
            <td>@item.Role.RoleName</td>
            <td>@Html.Partial("_ActionsMenu", item)</td>
        </tr>
            }
        }
    </tbody>
</table>

