﻿@model AskGis.Web.Admin.Models.ViewModels.UsersChangePassword_ViewModel

@{
    ViewBag.Title = Model.PageTitle;
}
<div id="users-create">
    @Html.Partial("_Top", Model)

    @using (Html.BeginForm("ChangePassword", "Users", FormMethod.Post, new { id = "users-save-form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.User.Id, htmlAttributes: new { Name = "UserId" })
        <div class="content">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">İstifadəçi məlumatları</h3>

                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <!-- /.box-tools -->
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="form-horizontal">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Ad soyad ata adı</label>
                                            <div class="col-sm-9">
                                                <span class="form-control readonly2">@Model.Fullname</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">İstifadəçi adı</label>
                                            <div class="col-sm-9">
                                                <span class="form-control readonly2">@Model.User.Username</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Rol</label>
                                            <div class="col-sm-9">
                                                <span class="form-control readonly2">@Model.User.Role.RoleName</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Yeni şifrə təyin edin</h3>

                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <!-- /.box-tools -->
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="form-horizontal">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Yeni şifrə</label>
                                            <div class="col-sm-9">
                                                <input type="password" name="Password" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Təkrar şifrə</label>
                                            <div class="col-sm-9">
                                                <input type="password" name="PasswordAgain" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

