﻿@model AskGis.Web.Admin.Models.ViewModels.UsersCreate_ViewModel

@{
    ViewBag.Title = Model.PageTitle;
}
<div id="users-create">
    @Html.Partial("_Top", Model)

    @using (Html.BeginForm("Save", "Users", FormMethod.Post, new { id = "users-save-form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.User.Id, htmlAttributes: new { Name = "UserId" })
        <div class="content">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">İstifadəçi məlumatları</h3>

                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <!-- /.box-tools -->
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="form-horizontal">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Ad soyad ata adı</label>
                                            <div class="col-sm-9">
                                                @Html.DropDownList("PersonId", Model.PersonsDropDown, "-- Seçin --", new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">İstifadəçi adı</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(m => m.User.Username, new { Name = "Username", @class = "form-control",
                                               placeholder = "İstifadəçi adı"})
                                            </div>
                                        </div>
                                        @if (Model.PageType == AskGis.Web.Admin.Custom.Enums.PageType.Create)
                                        {
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Şifrə</label>
                                                <div class="col-sm-9">
                                                    <input type="password" name="Password" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Təkrar şifrə</label>
                                                <div class="col-sm-9">
                                                    <input type="password" name="PasswordAgain" class="form-control" />
                                                </div>
                                            </div>
                                        }
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Rol</label>
                                            <div class="col-sm-9">
                                                @Html.DropDownList("RoleId", Model.RolesDropDown, "-- Seçin --", new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

