﻿@model AskGis.Entities.Person

<div class="btn-group pull-right">
    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Əməliyyatlar <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="@Url.Action("Create",new { id = Model.Id})"><i class="fa fa-edit"></i>Redaktə et</a></li>
        <li><a href="@Url.Action("Delete", new { id = Model.Id})" class="text-red"><i class="fa fa-remove"></i>Sil</a></li>
    </ul>
</div>
