﻿@model IEnumerable<AskGis.Entities.Person>
<table class="table table-hover">
    <thead>
        <tr>
            <th>No</th>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Ata adı</th>
            <th>Cinsiyyət</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int no = 1;
            foreach (var item in Model)
            {
        <tr data-id="@item.Id">
            <td>@(no++)</td>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@item.Fathername</td>
            <td>@(item.IsGenderMale ? "Kişi": "Qadın")</td>
            <td>@Html.Partial("_ActionsMenu", item)</td>
        </tr>
            }
        }
    </tbody>
</table>

