﻿@model AskGis.Web.Admin.Models.ViewModels.PersonCreate_ViewModel

@{
    ViewBag.Title = Model.PageTitle;
}
<div id="persons-create">
    @Html.Partial("_Top", Model)

    @using (Html.BeginForm("Save", "Persons", FormMethod.Post, new { id = "persons-save-form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Person.Id, htmlAttributes: new { Name = "PersonId" })
        <div class="content">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Əməkdaşın məlumatları</h3>

                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <!-- /.box-tools -->
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="form-horizontal">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Ad</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(m => m.Person.FirstName, new { Name = "FirstName", @class = "form-control",
                                               placeholder = "Əməkdaşın adı" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Soyad</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(m => m.Person.LastName, new { Name = "LastName", @class = "form-control",
                                               placeholder = "Əməkdaşın soyadı"})
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Ata adı</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(m => m.Person.Fathername, new { Name = "Fathername", @class = "form-control",
                                               placeholder = "Əməkdaşın ata adı"})
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Cinsiyyət</label>
                                            <div class="col-sm-9">
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="Gender" id="male-radio" value="1">
                                                        Kişi
                                                    </label>
                                                </div>
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="Gender" id="female-radio" value="2">
                                                        Qadın
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

