﻿@model AskGis.Web.Admin.Models.ViewModels.PersonDelete_ViewModel

@{
    ViewBag.Title = Model.PageTitle;
}
<div id="persons-delete">
    @Html.Partial("_Top", Model)

    @using (Html.BeginForm("Delete", "Persons", FormMethod.Post, new { id = "persons-delete-form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Person.Id, htmlAttributes: new { Name = "PersonId" })
        <div class="content">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Əməkdaşın məlumatları</h3>

                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <!-- /.box-tools -->
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="form-horizontal">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Ad</label>
                                            <div class="col-sm-9">
                                                <span class="form-control readonly2">@Model.Person.FirstName</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Soyad</label>
                                            <div class="col-sm-9">
                                                <span class="form-control readonly2">@Model.Person.LastName</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Ata adı</label>
                                            <div class="col-sm-9">
                                                <span class="form-control readonly2">@Model.Person.Fathername</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Cinsiyyət</label>
                                            <div class="col-sm-9">
                                                <span class="form-control readonly2">@Model.Gender</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

