﻿@model AskGis.Web.Admin.Models.ViewModels.PersonIndex_ViewModel

@{
    ViewBag.Title = Model.PageTitle;
}
<div id="persons-page">
    @Html.Partial("_Top", Model)
    <div class="content">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="persons-grid" data-role="grid">
                        @Html.Partial("_Grid", Model.Persons)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
