﻿<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MENU</li>
            <li>
                <a href="@Url.Action("Index", "Persons")">
                    <i class="fa fa-th"></i> <span>Əməkdaşlar</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Roles")">
                    <i class="fa fa-th"></i> <span>Rollar</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Users")">
                    <i class="fa fa-th"></i> <span>İstifadəçilər</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
