﻿@model AskGis.Web.Admin.Models.ViewModels.RoleCreate_ViewModel

@foreach (var page in Model.Pages)
{
    <div class="row">
        <span style="font-size:large; border-bottom: 1px solid #CCC; display: block;">@page.Title</span>
    </div>
    <div class="row">
        <div class="form-group">
            @foreach (var perm in page.Permissions)
            {
                var isChecked = Model.Role.Permissions.Count(p => p.Id == perm.Id) > 0;
                var checkedAttr = isChecked ? "checked" : "";
                var disabledAttr = Model.PageType == AskGis.Web.Admin.Custom.Enums.PageType.Delete ? "disabled" : "";
                <div class="col-sm-4">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" @checkedAttr name="Permissions[]" value="@perm.Id" @disabledAttr>
                            @perm.Title
                        </label>
                    </div>
                </div>
            }
        </div>
    </div>
}
