﻿@model AskGis.Web.Admin.Models.ViewModels.BaseViewModel

@if (Model.PageType == AskGis.Web.Admin.Custom.Enums.PageType.List)
{
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @Model.PageTitle
        </h1>
        <div class="pull-right">
            <a class="btn bg-blue" href="@Url.Action("Create")">
                <i class="fa fa-plus-square"></i>
                Yeni Rol
            </a>
        </div>
    </div>
}
else if (Model.PageType == AskGis.Web.Admin.Custom.Enums.PageType.CreateOrEdit)
{
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @Model.PageTitle
        </h1>
        <div class="pull-right">
            <a href="@Url.Action("Index")" class="btn btn-default">
                <i class="fa fa-arrow-circle-left"></i>&nbsp;
                Geri
            </a>
            <a class="btn bg-green" id="roles-save-button"
               data-target-form="roles-save-form"
               onclick="submit_form(event);"
               href="#">
                <i class="fa fa-save"></i>
                Yaddaş
            </a>
        </div>
    </div>
}
else if (Model.PageType == AskGis.Web.Admin.Custom.Enums.PageType.Delete)
{
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @Model.PageTitle
        </h1>
        <div class="pull-right">
            <a href="@Url.Action("Index")" class="btn btn-default">
                <i class="fa fa-arrow-circle-left"></i>&nbsp;
                Geri
            </a>
            <a class="btn btn-danger" id="roles-delete-button"
               data-target-form="roles-delete-form"
               onclick="remove(event)"
               href="#">
                <i class="fa fa-remove"></i>
                Sil
            </a>
        </div>
    </div>
}
