﻿@model AskGis.Web.Admin.Models.ViewModels.RoleCreate_ViewModel

@{
    ViewBag.Title = Model.PageTitle;
}
<div id="roles-delete">
    @Html.Partial("_Top", Model)

    @using (Html.BeginForm("Delete", "Roles", FormMethod.Post, new { id = "roles-delete-form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Role.Id, htmlAttributes: new { Name = "RoleId" })
        <div class="content">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Rol məlumatları</h3>

                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <!-- /.box-tools -->
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="form-horizontal">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Rolun adı</label>
                                            <div class="col-sm-9">
                                                <span class="form-control readonly2">@Model.Role.RoleName</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Səhifələr və səlahiyyətlər</h3>

                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <!-- /.box-tools -->
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="form-horizontal">
                                    <div class="col-xs-12">

                                        @Html.Partial("_Pages", Model)

                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

